.btn-cate
{
        border: none;
        border-radius: 15px;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 8px 25px -14px rgba(0,0,0,0.75);
        color: white;
        font-family: inherit;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 1px;
        width: 185px;
        height: 80px;
        background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
}

.lang-heading
{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 35px;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 1.5px;
}

.container
{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        // padding-left: 20px;
}

.card
{
        padding: 18px;
        border-radius: 20px;



        &:hover
        {
                box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
        }


}

.res--img
{
        height: 40px;
        width: 40px;
}

.res--name
{
        font-size: 25.5px;
        font-family: inherit;
        font-weight: 600;
        letter-spacing: 0.8px;
        padding-bottom: 10px;
        padding-top: 10px;
        color:#2dce89;
}

.res--desc
{
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding-bottom: 25px;
        padding-top: 5px;
        color: #172b4d;
}

.btn--card
{
        background-color:#5e72e4 ;
        padding:10px;
        font-size: 13.5px;
        border-radius: 5px;
        letter-spacing: 0.8px;
        
        &:hover
        {
                background-color: #3d55df;
                
        }
}

