//BUTTON
.btn-cate
{
        border: none;
        border-radius: 15px;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 8px 25px -14px rgba(0,0,0,0.75);
        color: white;
        font-family: inherit;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 1px;
        width: 175px;
        height: 70px;
        // background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
        background-color:#7850f0 ;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 2px;

        @media only screen and (max-width: 96.875em)
        {
                font-size: 20px;
                width: 110px;
                height: 45px;
        }

        @media only screen and (max-width: 28.125em)
        {
                
                font-size: 15px;
                width: 100px;
                height: 40px;
                margin-left: 15px;
                margin-right: 10px;
        }
}

.btn--card
{
        background-color:#7850f0 ;
        padding:12px 35px;
        font-size: 13.5px;
        border-radius: 40px;
        border-top-right-radius: 1px;
        letter-spacing: 0.8px;
        color:white;

        transition: padding 0.3s  ease-in;
        

        @media only screen and (max-width: 96.875em)
        {
                padding:8px;
                font-size: 12.5px;
                border-radius: 40px;
                border-top-right-radius: 1px;
                letter-spacing: 0.5px;
                padding:10px 30px;

                
        }
        
        &:hover
        {
                padding:12.5px 36.5px;
                
        }
}

//################################################################################################


//HEADINGS

.lang-heading
{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 35px;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 1.5px;

        @media only screen and (max-width: 96.875em)
        {
                text-align: center;
                padding-top: 20px;
                padding-bottom: 25px;
                font-size: 30px;
                font-weight: 500;
                letter-spacing: 1.2px;
        }

        @media only screen and (max-width: 28.125em)
        {
                font-size: 28px;
                font-weight: 400;
                letter-spacing: 1.5px;
        }
}
//#################################################################################################


//CARD FULL SETUP
.container
{
        
        display: flex;
        flex-direction: row;
        justify-content:start;
        flex-wrap: wrap;
        padding-left: 4%;
        padding-right: 1.5%;
        // border: 2px solid red;

        @media only screen and (max-width: 28.125em)
        {
                flex-direction: column;
                padding-left: 2.5%;
                padding-right: 1.5%;
        }

}
.card
{
        padding: 18px;
        border-radius: 20px;
        margin-bottom: 50px;
        margin-left: 14px;
        margin-right: 14px;
        // height:200px;
        width: 31%;
        transition: box-shadow 0.3s  ease-in;

        @media only screen and (max-width: 96.875em)
        {
                padding: 16px;
                border-radius: 18px;
                margin-bottom: 45px;
                // height: auto;
                width: 31%;
        }

        @media only screen and (max-width: 28.125em)
        {
                box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.15);
                width: 91%;
                padding: 16px;
        }

        &:hover
        {
                box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
        }


}

.res--img
{
        height: 55px;
        width: 55px;
        

        @media only screen and (max-width: 96.875em)
        {
                height: 38px;
                width: 38px;
        }
}

.res--imglarge
{
        height: 50px;
        width: auto;

        @media only screen and (max-width: 96.875em)
        {
                height: 35px;
                width: auto;
        }
}

.res--name
{
        font-size: 25.5px;
        font-family: inherit;
        font-weight: 600;
        letter-spacing: 0.8px;
        padding-bottom: 10px;
        padding-top: 10px;
        color:#2dce89;

        @media only screen and (max-width: 96.875em)
        {
                font-size: 19px;
                font-family: inherit;
                font-weight: 500;
                letter-spacing: 0.5px;
                padding-bottom: 8px;
                padding-top: 8px;
                color:#2dce89;
        }
}

.res--desc
{
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding-bottom: 25px;
        padding-top: 5px;
        color: #172b4d;

        @media only screen and (max-width: 96.875em)
        {
                font-size: 14px;
                font-family: inherit;
                font-weight: 400;
                letter-spacing: 0.5px;
                padding-bottom: 22px;
                padding-top: 4px;
        }
}
//################################################################################################

//DONE