.btn-cate
{
        border: none;
        border-radius: 80px;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 8px 25px -14px rgba(0,0,0,0.75);
        color: white;
        font-family: inherit;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        width: 130px;
        height: 60px;
}

.btn-card
{
        border: none;
        outline: none;
        background-color:#5e72e4 ;
        height: 40px;
        width: 120px;
        font-family: inherit;
        margin-top: 12px;
        border-radius: 5px;
        font-size: 15px;
        letter-spacing: 0.5px;

        &:hover
        {
                background-color: #3d55df;
        }

}

.lang-heading
{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 35px;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 1.5px;
}
.res-heading
{
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.8px;
        margin-bottom: 10px;
        margin-top: 10px;
}

.res-para
{
        font-size: 15px;
        margin-bottom: 20px;
}

.wrapper
{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

}

.card
{
        // border: 2px solid red;
        border-radius: 25px;
        box-shadow: 0px 10px 82px -29px rgba(0,0,0,0.5);
        padding: 12px;
        background-color: rgba(0, 0, 0,0);
        background-image: url('../img/bg_card.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-position-x: right; 
        width: 375px;
        height:270px;
        // color: white;
        img
        {
                height: 50px;
                width: 50px;
        }

}