@import './animation';

@import url('https://fonts.googleapis.com/css?family=Kalam:400,700&display=swap');
*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html 
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) 
{
    html 
    {
        font-size: 56.25%; 
    } 
}
@media only screen and (max-width: 56.25em)
{
    html 
    {
        font-size: 50%;
    } 
}

body 
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
      
}
@media only screen and (max-width: 56.25em) 
{
    body 
    {
        padding: 0; 
    } 
}




header
{
    height: 98.2vh;
    background-image: url('../img/index_bg.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    p
    {
        font-family: 'Kalam', cursive;
        font-weight: 100;
        font-size: 120px;
        text-align: center;
        padding-top: 17%;
        color:#233dd2;
    
        
        span
        {
            color: red;
            img
            {
                height: 130px;
            }
        }
    }
    
    h1
    {
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.8px;
        color: #525f7f;

        
    }

    div
    {
        text-align: center;
    }

    i
    {
        font-size: 120px;
        margin:10px 25px;
        cursor: pointer;
    }

    .html
    {
        color: #fb6340;
    }

    .css
    {
        color: #5e72e4;
    }

    .js
    {
        color: #f5365c;
    }

    .tracking-in-expand {
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    .bounce-in-top {
        -webkit-animation: bounce-in-top 1.1s both;
                animation: bounce-in-top 1.1s both;
    }
    
}

section
{
        height: 100vh;
        background-color:#f8f8f8;
        font-family: inherit;
}

.tab--sections
{
        height: 100vh;
        background-image: url('../img/p2.svg');
        border-radius: 0px 0px 50px 50px;
        background-size: fill;
        background-position: top;
        background-repeat: no-repeat;
        background-position-x: right; 
        padding-left: 50px;
        p
        {
                font-size: 60px;
                padding-bottom:30px;
                color: #383838;
        }
        i
        {
                font-size: 55px;
                color:white;
        }
        button
        {
                border: none;
                border-radius: 80px;
                outline: none;
                cursor: pointer;
                // padding:20px;
                margin-bottom: 30px;
                margin-right: 25px;
                margin-left: 20px;
                box-shadow: 0px 8px 25px -14px rgba(0,0,0,0.75);
                background-color: #5e72e4;
                color: white;
                font-family: inherit;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                width: 130px;
                height: 65px;
                
                // &:hover
                // {
                //         background-color: #3d55df;
                // }
        }
        a:link,a:visited
        {
                text-decoration: none;
                border: none;
                color:white;
        }

        .cate
        {
             display: flex;
             flex-direction: column; 
             margin-top: 11%;
        }

        .dark
        {
                background-color: #172b4d;
        }

        .red
        {
                background-color: #3d55df;
        }

        .green
        {
                background-color: #11cdef;
        }
        
}

