@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.btn-cate {
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 25px -14px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 8px 25px -14px rgba(0, 0, 0, 0.75);
  color: white;
  font-family: inherit;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 175px;
  height: 70px;
  background-color: #7850f0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 85.375em) {
  .btn-cate {
    font-size: 20px;
    width: 110px;
    height: 45px;
  }
}

.btn--card {
  background-color: #7850f0;
  padding: 12px 35px;
  font-size: 13.5px;
  border-radius: 40px;
  border-top-right-radius: 1px;
  letter-spacing: 0.8px;
  color: white;
  -webkit-transition: padding 0.3s  ease-in;
  transition: padding 0.3s  ease-in;
}

@media only screen and (max-width: 85.375em) {
  .btn--card {
    padding: 8px;
    font-size: 12.5px;
    border-radius: 40px;
    border-top-right-radius: 1px;
    letter-spacing: 0.5px;
    padding: 10px 30px;
  }
}

.btn--card:hover {
  padding: 12.5px 36.5px;
}

.lang-heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 85.375em) {
  .lang-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.2px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 1.5%;
}

.card {
  padding: 18px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-left: 14px;
  margin-right: 14px;
  width: 31%;
  -webkit-transition: -webkit-box-shadow 0.3s  ease-in;
  transition: -webkit-box-shadow 0.3s  ease-in;
  transition: box-shadow 0.3s  ease-in;
  transition: box-shadow 0.3s  ease-in, -webkit-box-shadow 0.3s  ease-in;
}

@media only screen and (max-width: 85.375em) {
  .card {
    padding: 16px;
    border-radius: 18px;
    margin-bottom: 45px;
    width: 31%;
  }
}

.card:hover {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

.res--img {
  height: 55px;
  width: 55px;
}

@media only screen and (max-width: 85.375em) {
  .res--img {
    height: 38px;
    width: 38px;
  }
}

.res--imglarge {
  height: 50px;
  width: auto;
}

@media only screen and (max-width: 85.375em) {
  .res--imglarge {
    height: 35px;
    width: auto;
  }
}

.res--name {
  font-size: 25.5px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #2dce89;
}

@media only screen and (max-width: 85.375em) {
  .res--name {
    font-size: 19px;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #2dce89;
  }
}

.res--desc {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-bottom: 25px;
  padding-top: 5px;
  color: #172b4d;
}

@media only screen and (max-width: 85.375em) {
  .res--desc {
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-bottom: 22px;
    padding-top: 4px;
  }
}

header {
  height: 100vh;
  background-image: url("../img/banner_4.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

header .links {
  font-family: inherit;
  font-weight: 600;
  margin-left: 56.25rem;
  margin-right: 3.125rem;
  padding-top: 1.25rem;
  text-align: right;
}

header .links a {
  padding-left: 4.375rem;
}

header div {
  width: 850px;
  margin-top: 16%;
  margin-left: 35%;
}

@media only screen and (max-width: 85.375em) {
  header div {
    margin-top: 13%;
  }
}

header div p {
  font-size: 110px;
  font-weight: 700;
  margin-top: -30px;
}

@media only screen and (max-width: 85.375em) {
  header div p {
    font-size: 80px;
    font-weight: 700;
    margin-top: -30px;
  }
}

header .blood {
  margin-top: -72px;
}

@media only screen and (max-width: 85.375em) {
  header .blood {
    margin-top: -58px;
  }
}

header .my--name {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 5.5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  float: left;
  margin-left: -125px;
}

@media only screen and (max-width: 85.375em) {
  header .my--name {
    font-size: 15px;
    letter-spacing: 4.5px;
    margin-left: -105px;
  }
}

header .my--name span {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

@media only screen and (max-width: 85.375em) {
  header .my--name span {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.45);
}

header .dir {
  position: fixed;
  top: 850px;
  right: 70px;
  height: auto;
  color: rgba(0, 0, 0, 0.4);
  font-size: 45px;
  padding: 3px 15px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

@media only screen and (max-width: 85.375em) {
  header .dir {
    top: 550px;
    right: 40px;
    font-size: 40px;
    padding: 3px 15px;
    z-index: 1;
    border-radius: 10px;
  }
}

header .dir:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

section {
  height: auto;
  font-family: inherit;
  background-color: white;
}

.tab--sections {
  height: auto;
  background-image: url("../img/tab_sec.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

@media only screen and (max-width: 85.375em) {
  .tab--sections {
    height: auto;
    background-image: url("../img/tab_sec.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 40px;
  }
}

.tab--sections p {
  font-size: 60px;
  text-align: center;
}

@media only screen and (max-width: 85.375em) {
  .tab--sections p {
    font-size: 45px;
  }
}

.tab--sections i {
  font-size: 55px;
  color: white;
}

.tab--sections a:link, .tab--sections a:visited {
  text-decoration: none;
  border: none;
  color: white;
}

.tab--sections .cate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.5%;
  margin-bottom: 1%;
  margin-left: 4.5%;
}

.tab--sections .orange {
  background-color: #fb6340;
}

.tab--sections .orange:hover {
  background-color: #fa441b;
}

footer {
  height: 65vh;
  color: white;
  background-color: black;
  padding-top: 0px;
  font-family: 'Montserrat', sans-serif;
}

footer .footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  height: 65vh;
}

footer .my {
  font-size: 70px;
}

@media only screen and (max-width: 85.375em) {
  footer .my {
    font-size: 62px;
  }
}

footer .my i {
  font-size: 45px;
  margin-right: 25px;
  border-radius: 50%;
  color: red;
}

footer .form p {
  font-size: 35px;
}

@media only screen and (max-width: 85.375em) {
  footer .form p {
    font-size: 28px;
  }
}

footer .form input {
  border: none;
  outline: none;
  height: 32px;
  width: 300px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 8px;
  font-family: inherit;
  font-size: 15.5px;
  border-radius: 20px;
}

footer .form input:focus {
  border: 1px solid red;
}

footer .form .FEEDBACK {
  height: 90px;
  padding-bottom: 50px;
}

footer .form .btn-form {
  border: none;
  outline: none;
  background-color: red;
  height: 30px;
  width: 90px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 4px;
  color: white;
  font-family: inherit;
}

footer .drop {
  height: 68px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html a:link, html a:visited {
  text-decoration: none;
  border: none;
  color: white;
}

@media only screen and (max-width: 85.375em) {
  html {
    font-size: 56.25%;
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 85.375em) {
  body {
    font-size: 14px;
  }
}

.black {
  color: black !important;
}

.light--sec {
  background-color: rgba(0, 0, 0, 0.039);
}
/*# sourceMappingURL=style.css.map */