//INCLUDES
@import './animation';
@import './component';
@import './section';


//###########################################################################################


*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html 
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    // color: red;
    a:link,a:visited
        {
                text-decoration: none;
                border: none;
                color:white;
        }
}
@media only screen and (max-width: 96.875em)//LATITUDE
{
    html
    {
        font-size: 56.25%; 
        scroll-behavior: smooth;
        // color: yellow;
    } 
}

@media only screen and (max-width: 75em) 
{
    html 
    {
        font-size: 56.25%; 
        // color: royalblue;
    } 
}

@media only screen and (max-width: 28.125em)
{
    html 
    {
        font-size: 50%;
        // color: cyan;
    } 
}

body 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    

    @media only screen and (max-width: 96.875em)
    {
        font-size: 14px;
    }

    @media only screen and (max-width: 28.125em)
    {
        font-size: 12px;
    }
}

//DONE





































//OTHER CLASSES

.black
{
    color: black !important;
}

.light--sec
{
    background-color: rgba(0, 0, 0,0.039);
}

//#############################################################################################