@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.btn-cate {
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 25px -14px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 8px 25px -14px rgba(0, 0, 0, 0.75);
  color: white;
  font-family: inherit;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 185px;
  height: 80px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#e14eca), color-stop(#ba54f5), to(#e14eca));
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}

.lang-heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  padding: 18px;
  border-radius: 20px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
}

.res--img {
  height: 40px;
  width: 40px;
}

.res--name {
  font-size: 25.5px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #2dce89;
}

.res--desc {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-bottom: 25px;
  padding-top: 5px;
  color: #172b4d;
}

.btn--card {
  background-color: #5e72e4;
  padding: 10px;
  font-size: 13.5px;
  border-radius: 5px;
  letter-spacing: 0.8px;
}

.btn--card:hover {
  background-color: #3d55df;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html a:link, html a:visited {
  text-decoration: none;
  border: none;
  color: white;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.black {
  color: black !important;
}

header {
  height: 100vh;
  background-image: url("../img/banner_4.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

header .links {
  font-family: inherit;
  font-weight: 400;
  margin-left: 900px;
  margin-right: 50px;
  padding-top: 20px;
  text-align: right;
}

header .links a {
  padding-left: 70px;
}

header div {
  width: 850px;
  margin-top: 16%;
  margin-left: 35%;
}

header div p {
  font-size: 110px;
  font-weight: 700;
  margin-top: -30px;
}

header .my--name {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 5.5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  float: left;
  margin-left: -125px;
}

header .my--name span {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

header .blood {
  margin-top: -72px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.45);
}

section {
  height: 100vh;
  font-family: inherit;
  background-color: white;
}

.tab--sections {
  height: auto;
  background-image: url("../img/tab_sec.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.tab--sections p {
  font-size: 60px;
  text-align: center;
}

.tab--sections i {
  font-size: 55px;
  color: white;
}

.tab--sections a:link, .tab--sections a:visited {
  text-decoration: none;
  border: none;
  color: white;
}

.tab--sections .cate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0.5%;
  margin-bottom: 1%;
}

.tab--sections .orange {
  background-color: #fb6340;
}

.tab--sections .orange:hover {
  background-color: #fa441b;
}
/*# sourceMappingURL=style.css.map */