@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.btn-cate {
  border: none;
  border-radius: 80px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 25px -14px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 8px 25px -14px rgba(0, 0, 0, 0.75);
  color: white;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 125px;
  height: 60px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#e14eca), color-stop(#ba54f5), to(#e14eca));
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}

.btn-card {
  border: none;
  outline: none;
  background-color: #5e72e4;
  height: 40px;
  width: 120px;
  font-family: inherit;
  margin-top: 12px;
  margin-left: 180px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.btn-card:hover {
  background-color: #3d55df;
}

.lang-heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: white;
}

.res-heading {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.res-para {
  font-size: 15px;
  margin-bottom: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.card {
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 82px -29px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 82px -29px rgba(0, 0, 0, 0.5);
  padding: 12px;
  background: linear-gradient(35deg, #f5365c, #f56036) !important;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-position-x: right;
  width: 375px;
  height: 270px;
}

.card img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html a:link, html a:visited {
  text-decoration: none;
  border: none;
  color: white;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.black {
  color: black !important;
}

header {
  height: 100vh;
  background-image: url("../img/banner_2.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

header .links {
  font-family: inherit;
  font-weight: 300;
  margin-left: 900px;
  margin-right: 28px;
  padding-top: 20px;
  text-align: right;
}

header .links a {
  padding-left: 100px;
}

header div {
  padding-top: 17%;
  padding-left: 105px;
}

header div p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 95px;
  color: white;
  margin-top: -30px;
}

header .my--name {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  letter-spacing: 5.5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  float: left;
  margin-left: -130px;
  margin-top: -50px;
}

header .my--name span {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

header .blood {
  margin-top: -60px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

header div {
  text-align: start;
}

header i {
  font-size: 120px;
  margin: 10px 25px;
  cursor: pointer;
}

header .html {
  color: #fb6340;
}

header .css {
  color: #5e72e4;
}

header .js {
  color: #f5365c;
}

header .tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

header .bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

section {
  height: 100vh;
  background-color: #171941;
  font-family: inherit;
  background-image: url("../img/dots.png");
  background-size: contain;
}

.tab--sections {
  height: auto;
  background-color: #171941;
  padding-bottom: 50px;
}

.tab--sections p {
  font-size: 60px;
  color: white;
  text-align: center;
}

.tab--sections i {
  font-size: 55px;
  color: white;
}

.tab--sections a:link, .tab--sections a:visited {
  text-decoration: none;
  border: none;
  color: white;
}

.tab--sections .cate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0.5%;
  margin-bottom: 1%;
}

.tab--sections .orange {
  background-color: #fb6340;
}

.tab--sections .orange:hover {
  background-color: #fa441b;
}
/*# sourceMappingURL=style.css.map */