@import './animation';
@import './component';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');
*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html 
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    a:link,a:visited
        {
                text-decoration: none;
                border: none;
                color:white;
        }
}
@media only screen and (max-width: 75em) 
{
    html 
    {
        font-size: 56.25%; 
    } 
}
@media only screen and (max-width: 56.25em)
{
    html 
    {
        font-size: 50%;
    } 
}

body 
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
      
}
@media only screen and (max-width: 56.25em) 
{
    body 
    {
        padding: 0; 
    } 
}

.black
{
    color: black !important;
}

header
{
    height: 100vh;
    background-image: url('../img/banner_2.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    // background-position-x: right;
    
    .links
    {
        // border: 2px solid red;
        // font-size: 16px;
        font-family: inherit;
        font-weight: 300;
        margin-left: 900px;
        margin-right: 28px;
        padding-top: 20px;
        text-align: right;

        a
        {
            padding-left: 100px;
        }
    }
    
    div
    {
        padding-top: 17%;
        padding-left: 105px;
        

        p
        {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size:95px;
            color: white;
            margin-top: -30px;
    
        }
    }

    .my--name
    {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        letter-spacing: 5.5px;
        transform: rotate(-90deg);
        float: left;
        margin-left: -130px;
        margin-top: -50px;

        span
        {
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 2.5px;
        }

    }
    

    .blood
    {
        margin-top: -60px;
    }
    
    h1
    {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: white;
        
    }


    div
    {
        text-align:start;
    }

    i
    {
        font-size: 120px;
        margin:10px 25px;
        cursor: pointer;
    }

    .html
    {
        color: #fb6340;
    }

    .css
    {
        color: #5e72e4;
    }

    .js
    {
        color: #f5365c;
    }

    .tracking-in-expand {
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    .bounce-in-top {
        -webkit-animation: bounce-in-top 1.1s both;
                animation: bounce-in-top 1.1s both;
    }
    
}

section
{
        height: 100vh;
        background-color:#171941;
        font-family: inherit;
        background-image: url('../img/dots.png');
        background-size: contain;
}




.tab--sections
{
        height: auto;
        background-color: #171941;
        padding-bottom: 50px;
        p
        {
                font-size: 60px;
                color: white;
                text-align: center;
        }
        i
        {
                font-size: 55px;
                color:white;
        }
        
        a:link,a:visited
        {
                text-decoration: none;
                border: none;
                color:white;
        }

        .cate
        {
             display: flex;
             flex-direction: row; 
             justify-content: space-evenly;
             margin-top: 0.5%;
             margin-bottom: 1%;
        }

        .orange
        {
                background-color: #fb6340;
                &:hover
                {
                    background-color:#fa441b;
                }
        }

        
        
}

